<?xml version='1.0' encoding='utf-8'?>
<widget id="com.laiwang.codo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Codo</name>
    <description>
        一个cordova应用
    </description>
    <author email="wengqianshan@me.com" href="http://wenglou.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="SplashScreen" value="splash"/>
</widget>
